.post {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: var(--gray-800);

  padding: 2.5rem;
  border-radius: 8px;

  color: var(--gray-300);
}

.post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post__header > time {
  color: var(--gray-400);
}
.user_data > strong {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--gray-100);
}
.user_data > p {
  color: var(--gray-400);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 160%;
}

.comment_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600);
}

.comment_form > strong {
  font-weight: bold;
}

.comment_form > textarea {
  resize: none;
  height: 6rem;
  background-color: var(--gray-900);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
}

.comment_form > footer {
  visibility: hidden;
  max-height: 0;
}

.comment_form:focus-within > footer {
  visibility: initial;
  max-height: initial;
}

.comment_form button[type='submit'] {
  background-color: var(--primary);
  color: var(--gray-100);
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color 0.15s;
}

.comment_form button[type='submit']:hover {
  background-color: var(--green-300);
}
